<!DOCTYPE html>
<html lang="en" xmlns:th="http://java.sun.com/xml/ns/j2ee">

<body>

        <div th:fragment="footer">
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; Wypożyczalnia sprzętu wspinaczkowego ON-Sight 2019</p>
                </div>
            </div>
        </div>
        
<div th:fragment="javascript">
        
<!-- jQuery -->
<script th:src="@{/js/jquery-3.3.1.min.js}" src="../../static/js/jquery-3.3.1.min.js"></script>

<!-- Bootstrap Core JavaScript -->
<script th:src="@{/js/bootstrap.min.js}" src="../../static/js/bootstrap.min.js"></script>
        
</div>

</body>
</html>