footer {
    padding-top: 2em;
}

.red {
    border: 2px dotted tomato;
}

.btn {
    margin: 2px;

}

.btn-cart {
    margin: 2px;
    width: 30px;
    max-width: 30px;

}

.product {
    margin-top: 10px;
}

.textarea {
    margin-bottom: 8px;
}

.infoContainer {
    padding-top: 2em;
}
.imgBasketContainer {
   padding: 2em;
}
.info {

}

.img-responsive {
    max-width: 100px;
    max-height: 100px;

}

.imgBasket {
    max-width: 12em;
}

.row {
    display: flex;
    justify-content: space-around;
}

.img {
    width: 100px;
}

.productName {
    width: 25%;
}

.price {
    width: 5%;
}

.count {
    width: 5%;
}

.sumPrice {
    width: 5%;
}

.add {
    width: 20%;
}

.table-head {
    font-weight: bold;

}
