body {
    padding-top: 54px;
}
@media (min-width: 992px) {
    body {
        padding-top: 56px;
    }
}
#wyloguj {
    margin-top: 8px;
    margin-bottom: auto;
}

.btn {
    margin: 2px;
    min-width: 80px;
}

