<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">


<head>
<link th:include="fragments/header :: head" th:remove="tag" />
<link th:href="@{/css/admin.css}" href="../static/CSS/admin.css" rel="stylesheet"/>
</head>

<body>


<!-- Navigation -->
<div th:replace="fragments/header :: navbar">
</div>


<!-- Page Content -->
<div class="container">

    <div class="row">

    </div>

    <div class="row">

        <div class="col-md-12">


            <div class="container">
                <div class="navigation">
                    <ul class="nav nav-tabs head-menu">
                        <li class="active"><a href="#newsy" data-toggle="tab">Newsy</a></li> 
                        <li>
                            <a href="#produkty" data-toggle="tab">Produkty</a>
                        </li>
                        <li>
                            <a href="#dodaj-produkt" data-toggle="tab">Dodaj produkt</a>
                        </li>
                        <li>
                            <a href="#aktualne-zamowienia" data-toggle="tab">Aktualne zamówienia</a>
                        </li>
                    </ul>
                    <div class="tab-content">

                        <div class="tab-pane active" id="newsy">
                            <div class="col-md-12">
                                <form class="form-horizontal">
                                    <div class="form-group">
                                        <div class="col-sm-12 col-sm-10">
                                            <h3>Dodaj newsa:</h3>
                                        </div>
                                        <div class="col-sm-12 col-sm-10">
                                            <textarea class="form-control textarea"></textarea>
                                        </div>
                                        <div class="col-sm-12 col-sm-10">
                                            <button type="submit" class="btn btn-primary">Dodaj</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>

                        <div class="tab-pane fade" id="produkty">
                            <div class="col-md-12">
                                <div class="list-group">
                                    <table class="table table-hover">
                                        <thead>
                                        <tr>
                                            <th>Produkt</th>
                                            <th>Opis produktu</th>
                                            <th>
                                                <button type="submit" class="btn btn-primary" id="add-btn-product">Dodaj
                                                </button>
                                            </th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <div th:each="products: ${productList}">


                                            <tr th:attr="product-id=${products.id}">

                                                <td>
                                                    <div class="col-md-4">
                                                        <p th:text="${products.productName}">dsa</p>
                                                        <p th:text="${products.id}">rew</p>
                                                        <img th:src="${products.smallImage}"
                                                             src="../static/images/LINA_DUZA.jpg"
                                                             class="img-responsive"
                                                             alt=""/>
                                                    </div>
                                                </td>
                                                <td th:text="${products.description}">Jakiś opis</td>
                                                <td>

                                                    <button type="submit" class="btn btn-primary btn-delete">Usuń
                                                    </button>

                                                </td>
                                            </tr>
                                        </div>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

                        <div class="tab-pane fade" id="dodaj-produkt">
                            <div class="col-md-12">
                                <div class="container product">

                                    <form class="form-horizontal" method="post" th:action="@{/admin-page}"
                                          th:object="${addProduct}">
                                        <div class="form-group">
                                            <label class="control-label col-sm-2" for="productName">Name:</label>
                                            <div class="col-sm-10">
                                                <input type="text" th:field="*{productName}" class="form-control"
                                                       id="productName" placeholder="Enter product name:"
                                                       required="required"/>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-sm-2" for="price">Price:</label>
                                            <div class="col-sm-10">
                                                <input type="text" th:field="*{price}" class="form-control" id="price"
                                                       placeholder="Enter price"
                                                       required="required"/>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-sm-2" for="description">Description:</label>
                                            <div class="col-sm-10">
                                                <input type="text" th:field="*{description}" class="form-control"
                                                       id="description"
                                                       placeholder="Enter phone number:" required="required"/>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="control-label col-sm-2" for="bigImage">Big Image:</label>
                                            <div class="col-sm-10">

                                                <input type="text" th:field="*{bigImage}" class="form-control"
                                                       id="bigImage" placeholder="Enter url:"
                                                       required="required"/>
                                            </div>

                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-sm-2" for="smallImage">Small image:</label>
                                            <div class="col-sm-10">
                                                <input type="password" th:field="*{smallImage}" class="form-control"
                                                       id="smallImage"
                                                       placeholder="Enter url:" required="required"/>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-sm-2" for="tags">Tags:</label>
                                            <div class="col-sm-10">
                                                <input type="text" th:field="*{tags}" class="form-control" id="tags"
                                                       placeholder="Enter tags, each tag split with ;"
                                                       required="required"/>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-sm-offset-2 col-sm-10">
                                                <button type="submit" class="btn btn-success">Add</button>
                                            </div>
                                        </div>
                                    </form>

                                </div>
                            </div>
                        </div>

                        <div class="tab-pane fade" id="aktualne-zamowienia">
                            <div class="col-md-12">
                                <div class="list-group">
                                    <table class="table table-hover">
                                        <thead>
                                        <tr>
                                            <th>Produkt</th>
                                            <th>Imię i nazwisko użytkownika</th>
                                            <th>Zamówione od</th>
                                            <th>Zamówione do</th>
                                            <th></th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <div th:each="order: ${orderList}">
                                            <tr th:attr="order-id=${order.id}">
                                                <td>
                                                    <div class="col-md-4">
                                                        <p th:text="${order.products.size()}">Ilość</p>
                                                        <p th:text="${order.combinedPrice}">price</p>
                                                        <p th:src="${order.products.}">user id</p>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="col-md-4">
                                                        <p th:text="${order.user.firstName}+' '+${order.user.lastName}"></p>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="col-md-4">
                                                        <p th:text="${order.orderStart}"></p>
                                                    </div>
                                                </td>

                                                <td>
                                                    <div class="col-md-4">
                                                        <p th:text="${order.orderEnd}"></p>
                                                    </div>
                                                </td>
                                                <td>
                                                    <button type="submit" class="btn btn-primary btn-usun">Usuń
                                                    </button>

                                                </td>
                                            </tr>
                                        </div>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

                        
                    </div>
                </div>

            </div>
        </div>
    </div>

</div>
<div class="col-md-8">

</div>


<!-- /.container -->

<div class="container">
    <!-- Footer -->
    <footer>
        <div class="row" th:replace="fragments/footer :: footer">static footer</div>
    </footer>
</div>



<!-- /.container -->
<div class="row" th:replace="fragments/footer :: javascript">scripts</div>

<script th:src="@{/js/admin.js}"></script>

</body>

</html>
