<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">

<head th:replace="fragments/header :: head">

    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>

    <title>Wypożyczalnia sprzętu wspinaczkowego</title>

    <!-- Bootstrap Core CSS -->
    <!-- Latest compiled and minified CSS -->
   <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" href="../static/css/bootstrap.min.css" />
    <!--UI CSS-->
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css"/>


    <!-- Custom CSS -->
    <link href="https://blackrockdigital.github.io/startbootstrap-shop-homepage/css/shop-homepage.css"
          rel="stylesheet"/>
    <link th:href="@{/css/admin.css}" href="../static/css/admin.css" rel="stylesheet"/>

    <!-- jQuery -->


    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

<!-- Navigation -->
<div th:replace="fragments/header :: header">
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Wypożyczalnia sprzętu górskiego</a>
            </div>
        </div>
        <!-- /.container -->
    </nav>
</div>

<!-- Page Content -->
<div class="container">

    <div class="row">

    </div>

    <div class="row">

        <div class="col-md-12">


            <div class="container">
                <div class="navigation">
                    <ul class="nav nav-pills head-menu">
                        <li class="active"><a href="#newsy" data-toggle="pill">Newsy</a></li>
                        <li>
                            <a href="#produkty" data-toggle="pill">Produkty</a>
                        </li>
                        <li>
                            <a href="#dodaj-produkt" data-toggle="pill">Dodaj produkt</a>
                        </li>
                        <li>
                            <a href="#aktualne-zamowienia" data-toggle="pill">Aktualne zamówienia</a>
                        </li>
                        <li>
                            <a href="#dodaj-link" data-toggle="pill">Dodaj link</a>
                        </li>
                    </ul>
                    <div class="tab-content">

                        <div class="tab-pane active" id="newsy">
                            <div class="col-md-12">
                                <form class="form-horizontal">
                                    <div class="form-group">
                                        <div class="col-sm-12 col-sm-10">
                                            <h3>Dodaj newsa:</h3>
                                        </div>
                                        <div class="col-sm-12 col-sm-10">
                                            <textarea class="form-control textarea"></textarea>
                                        </div>
                                        <div class="col-sm-12 col-sm-10">
                                            <button type="submit" class="btn btn-primary">Dodaj</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>

                        <div class="tab-pane" id="produkty">
                            <div class="col-md-12">
                                <div class="list-group">
                                    <table class="table table-hover">
                                        <thead>
                                        <tr>
                                            <th>Produkt</th>
                                            <th>Opis produktu</th>
                                            <th>
                                                <button type="submit" class="btn btn-primary" id="add-btn-product">Dodaj
                                                </button>
                                            </th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <div th:each="products: ${productList}">


                                            <tr th:attr="product-id=${products.id}">

                                                <td>
                                                    <div class="col-md-4">
                                                        <p th:text="${products.productName}">dsa</p>
                                                        <p th:text="${products.id}">rew</p>
                                                        <img th:src="${products.smallImage}"
                                                             src="../static/images/LINA_DUZA.jpg"
                                                             class="img-responsive"
                                                             alt=""/>
                                                    </div>
                                                </td>
                                                <td th:text="${products.description}">Jakiś opis</td>
                                                <td>

                                                    <button type="submit" class="btn btn-primary btn-delete">Usuń
                                                    </button>

                                                </td>
                                            </tr>
                                        </div>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

                        <div class="tab-pane" id="dodaj-produkt">
                            <div class="col-md-12">
                                <div class="container product">

                                    <form class="form-horizontal" method="post" th:action="@{/admin-page}"
                                          th:object="${addProduct}">
                                        <div class="form-group">
                                            <label class="control-label col-sm-2" for="productName">Name:</label>
                                            <div class="col-sm-10">
                                                <input type="text" th:field="*{productName}" class="form-control"
                                                       id="productName" placeholder="Enter product name:"
                                                       required="required"/>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-sm-2" for="price">Price:</label>
                                            <div class="col-sm-10">
                                                <input type="text" th:field="*{price}" class="form-control" id="price"
                                                       placeholder="Enter price"
                                                       required="required"/>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-sm-2" for="description">Description:</label>
                                            <div class="col-sm-10">
                                                <input type="text" th:field="*{description}" class="form-control"
                                                       id="description"
                                                       placeholder="Enter phone number:" required="required"/>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="control-label col-sm-2" for="bigImage">Big Image:</label>
                                            <div class="col-sm-10">

                                                <input type="text" th:field="*{bigImage}" class="form-control"
                                                       id="bigImage" placeholder="Enter url:"
                                                       required="required"/>
                                            </div>

                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-sm-2" for="smallImage">Small image:</label>
                                            <div class="col-sm-10">
                                                <input type="password" th:field="*{smallImage}" class="form-control"
                                                       id="smallImage"
                                                       placeholder="Enter url:" required="required"/>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-sm-2" for="tags">Tags:</label>
                                            <div class="col-sm-10">
                                                <input type="text" th:field="*{tags}" class="form-control" id="tags"
                                                       placeholder="Enter tags, each tag split with ;"
                                                       required="required"/>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-sm-offset-2 col-sm-10">
                                                <button type="submit" class="btn btn-success">Add</button>
                                            </div>
                                        </div>
                                    </form>

                                </div>
                            </div>
                        </div>

                        <div class="tab-pane" id="aktualne-zamowienia">
                            <div class="col-md-12">
                                <div class="list-group">
                                    <table class="table table-hover">
                                        <thead>
                                        <tr>
                                            <th>Produkt</th>
                                            <th>Imię i nazwisko użytkownika</th>
                                            <th>Zamówione od</th>
                                            <th>Zamówione do</th>
                                            <th></th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <div th:each="order: ${orderList}">
                                            <tr th:attr="order-id=${order.id}">
                                                <td>
                                                    <div class="col-md-4">
                                                        <p th:text="${order.productId.productName}">dsa</p>
                                                        <p th:text="${order.productId.id}">rew</p>
                                                        <img th:src="${order.productId.smallImage}"
                                                             src="../static/images/LINA_DUZA.jpg"
                                                             class="img-responsive"
                                                             alt=""/>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="col-md-4">
                                                        <p th:text="${order.userId.firstName}+' '+${order.userId.lastName}"></p>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="col-md-4">
                                                        <p th:text="${order.orderStart}"></p>
                                                    </div>
                                                </td>

                                                <td>
                                                    <div class="col-md-4">
                                                        <p th:text="${order.orderEnd}"></p>
                                                    </div>
                                                </td>
                                                <td>
                                                    <button type="submit" class="btn btn-primary btn-usun">Usuń
                                                    </button>

                                                </td>
                                            </tr>
                                        </div>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

                        <div class="tab-pane" id="dodaj-link">
                            <div class="col-md-12">
                                <div class="container">
                                    <div class="row">
                                        <h4 class="panel-heading">Dodaj link:</h4>
                                    </div>
                                    <div class="row">
                                        <form action="#" th:action="@{/admin-page}" th:object="${navbarLink}"
                                              method="post"
                                              class="form-inline">
                                            <div class="form-group">
                                                <label for="exampleInputName2">Link name:</label>
                                                <input type="text" th:field="*{name}" class="form-control"
                                                       id="exampleInputName1" placeholder="link name"/>
                                            </div>
                                            <div class="form-group">
                                                <label for="exampleInputName2">Link url:</label>
                                                <input type="text" th:field="*{link}" class="form-control"
                                                       id="exampleInputName2" placeholder="link url"/>
                                            </div>
                                            <div class="form-group" id="id1">
                                                <label class="hidden" for="exampleInputName2">ID:</label>
                                                <input type="hidden" th:field="*{id}" class="form-control"
                                                       id="exampleInputName3" placeholder="link id"/>
                                            </div>
                                            <div class="form-group">
                                                <label for="exampleInputName2">Active:</label>
                                                <input type="checkbox" th:field="*{active}" class="form-control"
                                                       id="exampleInputName4"/>
                                            </div>
                                            <div class="col-md-4">
                                                <button type="submit" class="btn btn-primary">Submit</button>
                                            </div>
                                        </form>

                                    </div>


                                    <h4 class="bg-primary link-list" style="padding: 4px;">Lista linków navbarowych</h4>


                                    <table class="table">
                                        <thead>
                                        <tr>
                                            <th>Name</th>
                                            <th>Link</th>
                                            <th>Active</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <div class="row" th:each="link: ${navbarLinks}">
                                            <tr data-id="${link.id}" id="link-row">
                                                <td>
                                                    <div class="col-md-4">
                                                        <p th:text="${link.name}"></p>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="col-md-4">
                                                        <p th:text="${link.link}"></p>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="col-md-4">
                                                        <p th:text="${link.active}"></p>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="col-md-4">
                                                        <button type="submit" class="btn btn-default">
                                                            Edytuj
                                                        </button>
                                                    </div>
                                                </td>
                                            </tr>
                                        </div>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

</div>
<div class="col-md-8">

</div>


<!-- /.container -->

<div class="container">
    <!-- Footer -->
    <footer>
        <div class="row" th:replace="fragments/footer :: footer">static footer</div>
    </footer>
</div>



<!-- /.container -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

<script th:src="@{/js/admin.js}"></script>

<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

</body>

</html>
