<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <link th:include="fragments/header :: head" th:remove="tag"/>
</head>

<body>

<!-- Navigation -->
<div th:replace="fragments/header :: navbar">
</div>

<!-- Page Content -->
<div class="container">

    <div class="container">

        <div class="starter-template">
            <h1>Wypożyczalnia sprzętu górskiego</h1>
            <p class="lead">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum faucibus eleifend rutrum. Sed non
                interdum orci.Phasellus pretium, magna finibus euismod mollis, tortor sem hendrerit ligula, in pretium
                orci lectus porttitor magna. Aenean iaculisest neque, at imperdiet mauris feugiat at. Nam at maximus
                lorem. Ut at aliquam enim. Phasellus viverra metus vitae consequat feugiat.Morbi at neque eu ex aliquam
                convallis.
                <br/>
                Fusce elementum, lectus sit amet varius eleifend, magna libero accumsan orci, sollicitudin pellentesque
                ex turpis quis est.In eleifend felis ut risus congue iaculis. Ut sem turpis, rhoncus suscipit ante
                iaculis, malesuada posuere ipsum.Praesent imperdiet faucibus massa non tempor. Sed a tincidunt nisi.
                Vestibulum porttitor sapien dui, eget efficitur libero facilisis at.Nulla placerat, est placerat
                pharetra commodo, velit nunc congue mi, eu volutpat augue ligula quis sapien. Aenean tempor enim id
                tristique rutrum.
            </p>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3523.19760948188!2d86.92283741515014!3d27.987849982676625!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x39e854a215bd9ebd%3A0x576dcf806abbab2!2sMount+Everest!5e0!3m2!1spl!2spl!4v1490639142979"
                    width="600" height="450" frameborder="0" style="border:0" type="allowfullscreen"></iframe>
        </div>
        <h3>adress: ul. HIMALAJEEEEEEEE 88-480</h3>

    </div>


</div>
<!-- /.container -->

<div class="container">
    <!-- Footer -->
    <footer>
        <div class="row" th:replace="fragments/footer :: footer">static footer</div>
    </footer>
</div>
<!-- /.container -->

<div class="row" th:replace="fragments/footer :: javascript">scripts</div>

</body>

</html>
