<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <link th:include="fragments/header :: head" th:remove="tag"/>
    <link th:href="@{/css/cart.css}" href="../static/css/cart.css" rel="stylesheet"/>
    <link th:href="@{/css/daterangepicker.css}" href="../static/css/daterangepicker.css" rel="stylesheet"/>
</head>

<body>

<!-- Navigation -->
<div th:replace="fragments/header :: navbar">
</div>

<!-- Page Content -->
<div class="container">
    <div class="row infoContainer">
        <div class="col-xs-12 col-ms-12 col-md-3 imgBasket">
            <img class="imgBasket" th:src="@{/images/icon_add_to_cart_740405.png}"
                 src="../static/images/icon_add_to_cart_740405.png"/>
        </div>

        <div class="col-xs col-sm col-md-9 info">
            <!-- info for User -->
            <div th:if="${info != null and info.status == true}" th:utext="${info.message}" class="alert alert-success">
                status produktu
            </div>
            <div th:if="${info != null and info.status == false}" th:utext="${info.message}" class="alert alert-danger">
                status produktu
            </div>
            <!-- end info -->
            <div class="base info">
                <p class="orderPeriod">Termin wypożyczenia: <b th:text="${cart.date}">data</b></p>
                <form id="orderPeriod" method="post" th:action="@{/changeDate}">
                    <label for="dateFilter">Zmień termin:</label>
                    <input pattern="^(0?[1-9]|[12]\d|3[01])[\/](0?[1-9]|1[0-2])[\/](20)\d{2}[ ][-][ ](0?[1-9]|[12]\d|3[01])[\/](0?[1-9]|1[0-2])[\/](20)\d{2}$"
                           id="dateFilter" type="text" name="datefilter" autocomplete="off" value=""/>
                    <button type="submit" class="btn btn-success">Zmień</button>
                </form>
                <p>Łączna ilość dni: <b th:text="${cart.getNumberOfDays()}"></b></p>
                <p>Wymagana kaucja: <b th:text="${cart.getCombinedDeposit()}"></b></p>
                <p>Rabat: <b th:text="${cart.getDiscount() + '%'}"></b></p>
                <p>Łączny koszt z rabatem: <b th:text="${cart.getPriceWithDiscount()}"></b></p>
                <form th:action="@{/createOrder}" method="post">
                    <button class="btn btn-primary" type="submit">Zamow</button>
                </form>
            </div>

        </div>


    </div>


    <div class="col-md-12">
        <div class="list-group">
            <table class="table-responsive-sm">
                <thead>
                <tr>
                    <th>Produkt</th>
                    <th></th>
                    <th>Cena</th>
                    <th>Ilość</th>
                    <th>Dodaj/Usuń</th>
                    <th>Razem</th>
                </tr>
                </thead>
                <tbody>
                <div th:each="countCartProduct: ${products}">
                    <tr th:attr="product-id=${countCartProduct.getProduct().id}"
                        th:classappend="${countCartProduct.count.compareTo(countCartProduct.countAvailable)==1}? red">
                        <td>
                            <div class="col-md-4">

                                <img th:src="${countCartProduct.getProduct().smallImage}"
                                     src="../static/images/LINA_DUZA.jpg"
                                     class="img-responsive"
                                     alt=""/>
                            </div>
                        </td>
                        <td><a href="info.html" th:href="@{'/product/'+${countCartProduct.getProduct().id}}"><h4
                                th:text="${countCartProduct.product.productName}">nazwa produktu</h4></a>
                            <b th:if="${countCartProduct.count.compareTo(countCartProduct.countAvailable)==1}" class="text-danger"
                               th:text="'Dostepnych tylko: ' + ${countCartProduct.getCountAvailable()}">Dostepnych
                                tylko</b></td>
                        <td><p th:text="${countCartProduct.product.price}">cena</p></td>
                        <td><p th:text="${countCartProduct.count}">cena</p></td>
                        <td>
                            <div class="row">
                                <form id="deleteProduct" method="post"
                                      th:action="@{'/cart/deleteProduct/'+${countCartProduct.getProduct().id}}">
                                    <button type="submit" class="btn btn-outline-danger btn-sm">-</button>
                                </form>
                                <form id="deleteAllProducts" method="post"
                                      th:action="@{'/cart/deleteAllProductsOfType/'+${countCartProduct.getProduct().id}}">
                                    <button type="submit" class="btn btn-outline-danger btn-sm">X</button>
                                </form>
                                <form id="addProduct" method="post"
                                      th:action="@{'/cart/addProduct/'+${countCartProduct.getProduct().id}}"
                                      th:if="${countCartProduct.count.compareTo(countCartProduct.countAvailable)==-1}">
                                    <button type="submit" class="btn btn-outline-success btn-sm">+</button>
                                </form>

                            </div>
                        </td>
                        <td><p th:text="${countCartProduct.product.price * countCartProduct.count}">suma</p></td>
                    </tr>
                </div>
                </tbody>
            </table>
        </div>
    </div>


</div>
<!-- /.container -->

<div class="container">
    <!-- Footer -->
    <footer>
        <div class="row" th:replace="fragments/footer :: footer">static footer</div>
    </footer>
</div>
<!-- /.container -->

<div class="row" th:replace="fragments/footer :: javascript">scripts</div>

<script th:src="@{/js/moment.min.js}" src="../static/js/moment.min.js"></script>
<script th:src="@{/js/daterangepicker.js}" src="../static/js/daterangepicker.js"></script>
<script th:src="@{/js/shopProducts.js}" src="../static/js/shopProducts.js"></script>

</body>

</html>
