<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <link th:include="fragments/header :: head" th:remove="tag"/>
  <link th:href="@{/css/register.css}" href="../static/CSS/register.css" rel="stylesheet" media="screen"/>
</head>
<body>
<div th:replace="fragments/header :: navbar">
</div>
<div class="container">
  <form action="#" th:action="@{/editUsers/{id}(id=${user.id})}" th:object="${user}" method="post">


    <div class="form-group">
      <label class="control-label col-sm-2" for="firstName">Imie:</label>
      <div class="col-sm-10">
        <input type="text" th:field="*{firstName}" class="form-control" id="firstName" required="required"/>
      </div>
    </div>

    <div class="form-group">
      <label class="control-label col-sm-2" for="lastName">Nazwisko:</label>
      <div class="col-sm-10">
        <input type="text" th:field="*{lastName}" class="form-control" id="lastName" required="required"/>
      </div>
    </div>

    <div class="form-group">
      <label class="control-label col-sm-2" for="role">Rola:</label>
      <div class="col-sm-10">
        <input type="text" th:field="*{role.role}" class="form-control" id="role" required="required"/>
      </div>
    </div>


    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10" align="center">
        <button type="submit" class="btn btn-success ">Edytuj użytkownika</button>
      </div>
    </div>

  </form>
</div>
<div class="container">
  <footer>
    <div class="row" th:replace="fragments/footer :: footer">static footer</div>
  </footer>
</div>
<div th:include="fragments/footer :: javascript" th:remove="tag"></div>

</body>

</html>
