<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head>
<link th:include="fragments/header :: head" th:remove="tag" />
<link th:href="@{/css/linkForm.css}" href="../static/css/linkForm.css" rel="stylesheet" media="screen"/>

</head>

<body>

<!-- Navigation -->
<div th:replace="fragments/header :: navbar">
</div>

<div class="container">
    <h4 class="bg-success">Link Form</h4>

    <form action="#" th:action="@{/admin-page}" th:object="${navbarLink}" method="post" class="form-inline"
          id="link-form" >
        <div class="form-group">
            <label for="exampleInputName2">Link name:</label>
            <input type="text" th:field="*{name}" class="form-control" id="exampleInputName1" placeholder="link name" value="fsd"/>
        </div>
        <div class="form-group">
            <label for="exampleInputName2">Link url:</label>
            <input type="text" th:field="*{link}" class="form-control" id="exampleInputName2" placeholder="link url"/>
        </div>
        <div class="form-group" id="id1">
            <label class="hidden" for="exampleInputName2">ID:</label>
            <input type="hidden" th:field="*{id}" class="form-control" id="exampleInputName3" placeholder="link id"/>
        </div>
        <div class="form-group">
        <label for="exampleInputName2">Active:</label>
        <input type="checkbox" th:field="*{active}" class="form-control" id="exampleInputName4"/>
    </div>
        <button type="submit" class="btn btn-success">Submit</button>
    </form>


    <h4 class="bg-success">Links List</h4>


    <table class="table">
        <thead>
        <tr>
            <th>Name</th>
            <th>Link</th>
            <th>Active</th>
        </tr>
        </thead>
        <tbody>
        <div class="row" th:each="link: ${navbarLinks}">
            <tr data-id="${link.id}" id="link-row">
                <td>
                    <div class="col-md-4">
                        <p th:text="${link.name}"></p>
                    </div>
                </td>
                <td>
                    <div class="col-md-4">
                        <p th:text="${link.link}"></p>
                    </div>
                </td>
                <td>
                    <div class="col-md-4">
                        <p th:text="${link.active}"></p>
                    </div>
                </td>
                <td>
                    <div class="col-md-4">
                        <button type="submit" class="btn btn-default" id="edit-btn">Usuń</button>
                    </div>
                </td>
            </tr>
        </div>
        </tbody>
    </table>
</div>

<div class="container">
    <!-- Footer -->
    <footer>
        <div class="row" th:replace="fragments/footer :: footer">static footer</div>
    </footer>
</div>

<!-- jQuery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<!--<script type="text/javascript" src="../static/js/admin.js" th:src="@{/js/admin.js}" ></script>-->

<!-- Bootstrap Core JavaScript -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
<script type="text/javascript">
    jQuery(document).ready(function () {
        $("#edit-btn").on('click', function () {
            $("#link-row").hide().replaceWith($("#link-form"));
        })
    })
</script>
</body>
</html>