<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">

<head>
    <link th:include="fragments/header :: head" th:remove="tag"/>
</head>

<body>

<!-- Navigation -->
<div th:replace="fragments/header :: navbar">
</div>

<!-- Page Content -->
<div class="container">

    <div class="row">

        <div class="col-md-3">
            <p class="lead">Tags</p>
            <div class="list-group">
                <a th:each="link : ${tagsLinks}" th:text=" '#' + ${link.name}"
                   th:href="${link.link}" class="list-group-item">Category</a>
            </div>
        </div>

        <div class="col-md-9">
            <p class="lead" th:text="'News z dnia: '+ ${news.createdTime}">News</p>
            <div class="card">
                <div class="row">
                    <div th:if="${news.updateTime != null}" class="card-header">
                        <p class="card-header" th:text="'Data edycji: '+${news.updateTime}"></p>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title" th:text="${news.title}"/>
                        <p class="card-text" th:text="${news.description}"></p>
                        <form sec:authorize="hasRole('ADMIN')" th:method="delete"
                              th:action="@{'/news/remove/'+${news.id}}">
                            <button class="btn alert-danger" type="submit">Usuń news</button>
                        </form>
                        <p th:text=" 'Tagi: '+'#' + ${news.tag}"/>
                    </div>
                </div>

            </div>

        </div>

    </div>

</div>
<!-- /.container -->

<div class="container">
    <!-- Footer -->
    <footer>
        <div class="row" th:replace="fragments/footer :: footer">static footer</div>
    </footer>
</div>
<!-- /.container -->

<div class="row" th:replace="fragments/footer :: javascript">scripts</div>
</body>

</html>
