
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head>
<link th:include="fragments/header :: head" th:remove="tag" />
</head>

<body>

<!-- Navigation -->
<div th:replace="fragments/header :: navbar">
</div>

<!-- Page Content -->
<div class="container">

    <div class="row">

        <div class="col-md-3">
            <p class="lead">Tags</p>
            <div class="list-group">
                <a th:each="link : ${tagsLinks}" th:text=" '#' + ${link.name}"
                   th:href="${link.link}" class="list-group-item">Category</a>
            </div>
        </div>

        <div class="col-md-9">

            <div class="thumbnail">
                <!--<img class="img-responsive" th:src="${product.bigImage.path}" src="http://placehold.it/800x300" th:alt="${product.bigImage.altText}" alt=""/>-->
                <div class="caption-full">
                    <!--<h4 class="pull-right" th:text="${product.price}">$24.99</h4>-->
                    <h4><a href="#" th:text="${news.title}">Product Name</a>
                    </h4>

                    <p th:text="${news.description}">See more snippets like these online store reviews at <a target="_blank" href="http://bootsnipp.com">Bootsnipp - http://bootsnipp.com</a>.</p>
                    <a th:href="${news.link}" href="#" text="Rozszerzona wersja">Rozszerzona wersja</a>
                </div>
                <div class="ratings">
                    
                    <h5><a href="#" th:text=" '#' + ${news.tag}">#Tags</a> </h5>

                </div>
            </div>



        </div>

    </div>

</div>
<!-- /.container -->

<div class="container">
    <!-- Footer -->
    <footer>
        <div class="row" th:replace="fragments/footer :: footer">static footer</div>
    </footer>
</div>
<!-- /.container -->

<!-- jQuery -->
<script src="https://blackrockdigital.github.io/startbootstrap-shop-homepage/js/jquery.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

</body>

</html>
