<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">


<head>
  <link th:include="fragments/header :: head" th:remove="tag"/>
</head>

<body>

<!-- Navigation -->
<div th:replace="fragments/header :: navbar">
</div>

<!-- Page Content -->
<div class="container">

  <div class="container">

    <div class="starter-template">
      <h1 align="center">Regulamin świadczenia usług ON-SIGHT</h1>
    </div>
    <div class="container">
      <p class="lead" style="text-align: center">
      <h4 align="center">§ 1</h4>
      PARAGRAF PIERWSZY
      </p>
      <p class="lead" style="text-align: center">
      <h4 align="center">§ 2</h4>
      PARAGRAF DRUGI
      </p>
    </div>
  </div>

</div>

<div class="container">
  <footer>
    <div class="row" th:replace="fragments/footer :: footer">static footer</div>
  </footer>
</div>
<div class="row" th:replace="fragments/footer :: javascript">scripts</div>

</body>

</html>
