<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

    <link th:include="fragments/header :: head" th:remove="tag"/>
    <link th:href="@{/css/products.css}" href="../static/CSS/products.css" rel="stylesheet"/>
    <link th:href="@{/css/daterangepicker.css}" href="../static/CSS/daterangepicker.css" rel="stylesheet"/>
</head>

<body>

<!-- Navigation -->
<div th:replace="fragments/header :: navbar">
</div>

<!-- Page Content -->
<div class="container content">

    <div class="row">

        <div class="col-xs-12 col-ms-12 col-md-3 form">


            <form id="orderForm" method="get" th:action="@{/shop}" th:object="${filterProducts}">
                <table>
                    <tr>
                        <td class="order"><label>Wpisz nazwę produktu</label></td>
                    </tr>
                    <tr>
                        <td class="order"><input type="text" name="productName" id="usr"/></td>
                    </tr>
                    <tr>
                        <td class="order"><p>Wybierz okres, na który chcesz wypożyczyć sprzęt:</p></td>
                    </tr>
                    <tr>
                        <td class="order"><input type="text" name="datefilter" autocomplete="off" value="" /></td>
                    </tr>
                    <tr>
                        <td class="order">
                            <button type="submit" class="btn btn-success">Sprawdz dostepnosc</button>
                        </td>
                    </tr>
                </table>


                <div class="form-group">

                </div>
            </form>

        </div>

        <div class="col-xs col-sm col-md-9">

            <div th:if="${info != null and info.status == true}" th:utext="${info.message}" class="alert alert-success">
                status produktu
            </div>
            <div th:if="${info != null and info.status == false}" th:utext="${info.message}" class="alert alert-danger">
                status produktu
            </div>

            <div class="row">

                <div th:each="countProduct: ${countProducts}" class="col-xs col-sm col-lg-4 col-md-6 product">
                    <div class="thumbnail">
                        <div class="productImg">
                            <img th:src="${countProduct.product.smallImage}"/>
                        </div>

                        <div class="caption">

                            <a href="shop.html" th:href="'/product/'+${countProduct.product.id}"><h3 class="pull-right"
                                                                                                     th:text="${countProduct.product.productName}">
                                Name</h3></a>
                            <p class="pull-right" th:text="'Cena za dzien: '+${countProduct.product.price}+'zl'">
                                $24.99</p>
                            <br/>
                            <p class="pull-right" th:text="'Na magazynie dostepnych: '+${countProduct.count}">0</p>
                            <br/>

                        </div>
                    </div>
                </div>
            </div>

        </div>


        <!-- /.container -->

        <div class="container">
            <!-- Footer -->
            <footer>
                <div class="row" th:replace="fragments/footer :: footer">static footer</div>
            </footer>
        </div>
        <!-- /.container -->

        <div class="row" th:replace="fragments/footer :: javascript">scripts</div>

        <script th:src="@{/js/moment.min.js}" src="../static/js/moment.min.js"></script>
        <script th:src="@{/js/daterangepicker.js}" src="../static/js/daterangepicker.js"></script>
        <script th:src="@{/js/shopProducts.js}" src="../static/js/shopProducts.js"></script>

    </div>
</div>
</body>
</html>