<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

    <link th:include="fragments/header :: head" th:remove="tag"/>
    <link th:href="@{/css/products.css}" href="../static/CSS/products.css" rel="stylesheet"/>
    <link th:href="@{/css/daterangepicker.css}" href="../static/CSS/daterangepicker.css" rel="stylesheet"/>
</head>

<body>

<!-- Navigation -->
<div th:replace="fragments/header :: navbar">
</div>

<!-- Page Content -->
<div class="container content">

    <div class="row">

        <div class="col-xs-12 col-ms-12 col-md-3 form">


            <form id="orderForm" method="get" th:action="@{/shop}">
                <table>
                    <tr>
                        <td class="flexCenter"><label for="productName">Wpisz nazwę produktu:</label></td>
                    </tr>
                    <tr>
                        <td class="flexCenter"><input type="text" name="productName" id="productName"/></td>
                    </tr>
                    <tr>
                        <td class="flexCenter"><label for="dateFilter">Wybierz termin: </label></td>
                    </tr>
                    <tr>
                        <td class="flexCenter"><input id="dateFilter" type="text" name="datefilter" autocomplete="off"
                                                 value=""/></td>
                    </tr>
                    <tr>
                        <td class="flexCenter">
                            <button type="submit" class="btn btn-success">Sprawdz dostepnosc</button>
                        </td>
                    </tr>
                </table>


                <div class="form-group">

                </div>
            </form>

        </div>

        <div class="col-xs col-sm col-md-9">

            <div th:if="${info != null and info.status == true}" th:utext="${info.message}" class="alert alert-success">
                status produktu
            </div>
            <div th:if="${info != null and info.status == false}" th:utext="${info.message}" class="alert alert-danger">
                status produktu
            </div>

            <div class="row">

                <div th:each="countProduct: ${countProducts}" class="col-xs col-sm col-lg-4 col-md-6 product">
                    <div class="thumbnail">
                        <div class="productImg">
                            <img th:src="${countProduct.product.smallImage}"/>
                        </div>

                        <div class="caption">
                            <div class="productName">
                                <a href="shop.html" th:href="'/product/'+${countProduct.product.id}">
                                    <h4 class="pull-right" th:text="${countProduct.product.productName}">Name</h4></a>
                            </div>
                            <div class="productInfo flexAround">
                                <span class="price left" th:text="'Cena: '+${countProduct.product.price}+'zl'">
                                $24.99</span>
                                <span class="count right" th:text="'Dostepnych: '+${countProduct.count}"> ilość</span>
                            </div>
                            <div class="addToCart">

                                <form id="addToCart" method="post" th:action="@{'/shop/' + ${countProduct.product.id}}">
                                    <div>
                                        <label for="productCount">Wybierz ilość: </label>
                                        <input id="productCount" name="productCount" type="number" th:default="1" min="1"/>
                                    </div>
                                    <div class="form-group">
                                        <button align="center" type="submit" class="btn btn-success">Do koszyka</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>


        <!-- /.container -->

        <div class="container">
            <!-- Footer -->
            <footer>
                <div class="row" th:replace="fragments/footer :: footer">static footer</div>
            </footer>
        </div>
        <!-- /.container -->

        <div class="row" th:replace="fragments/footer :: javascript">scripts</div>

        <script th:src="@{/js/moment.min.js}" src="../static/js/moment.min.js"></script>
        <script th:src="@{/js/daterangepicker.js}" src="../static/js/daterangepicker.js"></script>
        <script th:src="@{/js/shopProducts.js}" src="../static/js/shopProducts.js"></script>

    </div>
</div>
</body>
</html>