<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Congratulations!</title>
</head>
<body>
<div class="btn-success">
  <center>
    <span th:text="'Konto zostało aktywaowane! Możesz się teraz zalogować!'"></span>
  </center>
  <div class="d-inline-block align-content-center">
    <button class="btn btn-success">
      <a class="btn-success" href=" #" th:href="@{/login}"
         th:text="Zaloguj">About</a>
    </button>
    <button class="btn btn-success">
      <a href=" #" th:href="@{/shop}"
         th:text="Główna">About</a>
    </button>
  </div>
</div>
</body>
</html>
