<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <link th:include="fragments/header :: head" th:remove="tag"/>
</head>

<body>

<!-- Navigation -->
<div th:replace="fragments/header :: navbar">
</div>

<!-- Page Content -->
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <p class="lead">Dane użytkownika</p>
            <ul class="list-group">
                <li class="list-group-item" th:text="'Imie: ' + ${user.firstName}">Imię:</li>
                <li class="list-group-item" th:text="'Nazwisko: ' + ${user.lastName}">Nazwisko</li>
                <li class="list-group-item"
                    th:text="'Adres: ' + ${user.address.city} + ' ' + ${user.address.street} + ' ' + ${user.address.flatNumber} + ' '+${user.address.zipcode}">
                    Adres:
                </li>
                <li class="list-group-item" th:text="'E-mail: ' + ${user.email}">E-mail:</li>
                <li class="list-group-item" th:text="'Telefon: ' + ${user.phoneNumber}">Telefon:</li>
            </ul>
        </div>
        <div class="col-md-8">
            <div class="container">
                <div class="navigation">
                    <ul class="nav nav-pills head-menu">
                        <li class="active"><a href="#twoje-zamowienia" data-toggle="pill">Twoje zamówienia</a></li>
                        <li>
                            <a href="#twoje-rachunki" data-toggle="pill">Twoje rachunki</a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active" id="twoje-zamowienia">
                            <div class="col-md-12">
                                <div class="list-group">
                                    <table class="table table-hover">
                                        <thead>
                                        <tr>
                                            <th>Nr zamowienia</th>
                                            <th>Zamówione od</th>
                                            <th>Zamówione do</th>
                                            <th>Cena</th>
                                            <th>Opłacone</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <a th:each="order : ${orders}" th:href="@{'/order/' + order.id}">
                                        <tr >
                                            <td th:text="${order.id}"></td>
                                            <td th:text="${order.orderStart.toString().split(' ')[0]}"></td>
                                            <td th:text="${order.orderEnd.toString().split(' ')[0]}"></td>
                                            <td th:text="${order.combinedPrice}"></td>
                                            <td th:text="${order.isPaid()}"></td>
                                        </tr>
                                        </a>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="twoje-rachunki">
                            <div class="col-md-8">
                                <p>Morbi tincidunt, dui sit amet facilisis feugiat, odio metus gravida ante, ut pharetra
                                    massa metus id nunc. </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Footer -->
<div class="container">
    <footer>
        <div class="row" th:replace="fragments/footer :: footer">static footer</div>
    </footer>
</div>

<div class="row" th:replace="fragments/footer :: javascript">scripts</div>

</body>
</html>
